@import "tailwindcss";
@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-white text-gray-900;
  }
}

@layer components {
  .section-title {
    @apply text-3xl md:text-4xl font-bold mb-8 text-center text-gray-900;
  }
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  
  .animation-delay-1000 {
    animation-delay: 1s;
  }
}